@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';

@font-face  {
    font-family: "regular";
    src: local("Prompt-Regular"),
    url('../../public/assets/fonts/Prompt-Regular.ttf') format("truetype");
  }

  @font-face {
    font-family: "medium";
    src: local("Prompt-Medium"),
    url('../../public/assets/fonts/Prompt-Medium.ttf') format("truetype");
  }

  @font-face {
    font-family: "semibold";
    src: local("Prompt-SemiBold"),
    url('../../public/assets/fonts/Prompt-SemiBold.ttf') format("truetype");
  }

  @font-face {
    font-family: "bold";
    src: local("Prompt-Bold"),
    url('../../public/assets/fonts/Prompt-Bold.ttf') format("truetype");
  }

/* In your CSS file */
#products-table {
    @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}

#products-table thead tr {
    @apply bg-gray-50 dark:bg-gray-700;
}

#products-table th,
#products-table td {
    @apply px-6 py-1 border-b border-gray-200 dark:border-gray-700 text-center;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  }
